@{
    ViewData["Title"] = "Send";
}

<h1>Send</h1>

<p>Het volgende bericht is verstuurd:</p>
<ul>
    <li>Voornaam: @Model.FirstName</li>
    <li>Achternaam: @Model.LastName</li>
    <li>Email: @Model.Email</li>
    <li>Telefoonnummer: @Model.PhoneNumber</li>
    <li>Bericht: @Model.message</li>
</ul>